{
    "source_path": "./src",
    "target_path": "./src/index.tsx",
    "begin_target_mark_comment": "//  effector graph init place. Do not change it manual !!!",
    "end_target_mark_comment": "// end of effector graph",
    "file_filter": "^init.ts",
    "quotes_style": "single"
}